// Headings
$h1 : 40px;
$h2 : 30px;
$h3 : 25px;
$h4 : 20px;
$h5 : 16px;
$h6 : 14px;

$header--bg: #d8262e;

$menu--text-color: #fff;
$menu--bbotom-color: #d8262e;
$menu--bbotom-color-hover: #fff;
$menu--text-hover: #820107;
$menu--sub-bg: #d8262e;

$footer--bg: #d8262e;
$footer--text-color: #fff;