// Default Fonts
@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: "Open Sans";
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}
@font-face {
    font-family: "Lato";
    src: url('../fonts/Lato/Lato-Regular.ttf');
}
@font-face {
    font-family: "LatoBold";
    src: url('../fonts/Lato/Lato-Bold.ttf');
}
@font-face {
    font-family: "LatoBlack";
    src: url('../fonts/Lato/Lato-Black.ttf');
}