@import "partials/default-variables";

@media (min-width: 576px) {
    
}

@media (min-width: 768px) {
    // Archive Layout
    div:no(.archive-sidebar).archive-sidebar {
        margin-bottom: 0;
    }
    .archive-sb-details {
        margin-top: 0;
        margin-left: 8px;
        text-align: left;
    }

    // Footer
    #footer {
        & .copyright {
            text-align: left;
            margin-bottom: 0;
        }

        & .social-media-links {
            text-align: right;
        }
    }
    
}

@media (min-width: 992px) {
    // Archive left sidebar layout
    .archive-left-sidebar .archive-post-details {
        margin-left: 30px;
    }

    // Archive no sidebar layout
    .archive-no-sidebar .other-details {
        padding: 6px 0 8px;
    }
    .archive-no-sidebar .other-details span {
        margin-right: 10px;
    }

    // services
    .service-post-alternate .service-post-details {
        padding: 15px 32px;
    }
    .spa-post {
        margin-bottom: 0;
    }
}

@media (min-width: 1200px) {
    .short-details {
        padding: 15px;
    }
}