@media (min-width: 768px) {
  div:no(.archive-sidebar).archive-sidebar {
    margin-bottom: 0;
  }
  .archive-sb-details {
    margin-top: 0;
    margin-left: 8px;
    text-align: left;
  }
  #footer .copyright {
    text-align: left;
    margin-bottom: 0;
  }
  #footer .social-media-links {
    text-align: right;
  }
}
@media (min-width: 992px) {
  .archive-left-sidebar .archive-post-details {
    margin-left: 30px;
  }
  .archive-no-sidebar .other-details {
    padding: 6px 0 8px;
  }
  .archive-no-sidebar .other-details span {
    margin-right: 10px;
  }
  .service-post-alternate .service-post-details {
    padding: 15px 32px;
  }
  .spa-post {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .short-details {
    padding: 15px;
  }
}
body {
  font-family: "Lato";
  font-size: 14px;
  color: #333;
}
h1, .h1 {
  font-size: 40px;
  font-weight: bold;
}
h2, .h2 {
  font-size: 30px;
  font-weight: bold;
}
h3, .h3 {
  font-size: 25px;
  font-weight: bold;
}
h4, .h4 {
  font-size: 20px;
  font-weight: bold;
}
h5, .h5 {
  font-size: 16px;
  font-weight: bold;
}
h6, .h6 {
  font-size: 14px;
  font-weight: bold;
}
.space {
  padding: 20px 0;
}
a:active, a:focus, a:hover {
  text-decoration: none;
}
.space {
  margin: 30px;
}
.header {
  background: #d8262e;
}
.page-title span.fl-heading-text {
  background: #d8262e;
  padding: 16px 25px 18px;
}
.subpage-header-container {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}
.subpage-header-container .subpage-header {
  height: 231px;
}
.subpage-header-container .page-title {
  margin: 0 -15px;
}
.subpage-header-container .page-title span.fl-heading-text {
  color: #fff;
}
ul.top-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
ul.top-menu > li {
  display: inline-block;
  margin: 0 20px;
}
ul.top-menu > li > a, ul.top-menu > li > a:not([href]):not([tabindex]) {
  color: #fff;
  padding: 42px 9px 32px;
  display: block;
  text-decoration: none;
  border-bottom: 5px solid #d8262e;
}
ul.top-menu > li:active a, ul.top-menu > li:focus a, ul.top-menu > li:hover a, ul.top-menu > li:active a:not([href]):not([tabindex]), ul.top-menu > li:focus a:not([href]):not([tabindex]), ul.top-menu > li:hover a:not([href]):not([tabindex]) {
  outline: none;
  border-bottom-color: #fff;
}
ul.top-menu > li > ul {
  display: none;
  position: absolute;
  margin: 0;
  padding: 11px 0 0;
  z-index: 100;
  list-style: none;
  text-align: left;
  min-width: 150px;
}
ul.top-menu > li > ul > li {
  display: block;
  background: #d8262e;
}
ul.top-menu > li > ul > li > a {
  display: block;
  padding: 4px 28px;
  color: #fff;
  text-decoration: none;
}
ul.top-menu > li > ul > li > a:active, ul.top-menu > li > ul > li > a:focus, ul.top-menu > li > ul > li > a:hover {
  color: #820107;
}
ul.top-menu > li > ul > li:first-of-type {
  padding-top: 8px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
ul.top-menu > li > ul > li:last-of-type {
  padding-bottom: 8px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
ul.top-menu > li > ul:before {
  content: '';
  border-bottom: 11px solid #d8262e;
  border-left: 9.5px solid transparent;
  border-right: 9.5px solid transparent;
  position: absolute;
  top: 0;
  left: 30px;
}
ul.top-menu > li:hover > ul {
  display: block;
  position: absolute;
  top: 100%;
}
.archive-post {
  margin-bottom: 30px;
}
.archive-post-title a {
  color: #2c3e50;
  font-family: "LatoBlack";
  font-size: 18px;
  margin: 26px 15px 20px;
  text-decoration: none;
  display: inline-block;
}
.archive-post-title a:active, .archive-post-title a:focus, .archive-post-title a:hover {
  color: #d8262e;
}
.other-details {
  border: 1px solid #e5e5e5;
  border-left: 0;
  border-right: 0;
  padding: 15px;
  color: #2c3e50;
}
.other-details span {
  margin-right: 28px;
  display: inline-block;
  vertical-align: middle;
  opacity: 0.6;
}
.other-details span:last-of-type {
  margin-right: 0;
}
.short-details {
  padding: 15px 0;
}
.short-details p:last-of-type {
  margin-bottom: 0;
}
.archive-sidebar {
  margin-bottom: 25px;
}
.archive-sb-post {
  margin-bottom: 15px;
}
.archive-sb-title {
  font-family: "LatoBold";
  margin-top: 20px;
}
.archive-sb-details {
  margin-top: 15px;
  color: #2c3e50;
  text-align: center;
}
.archive-sb-details h6 {
  margin-bottom: 0;
}
.archive-sb-details .archive-sb-post-title a {
  text-decoration: none;
  color: inherit;
}
.archive-sb-details .date {
  margin-bottom: 0;
}
.archive-left-sidebar .archive-post-title a {
  margin: 13px 0 5px;
}
.archive-left-sidebar .other-details {
  padding: 6px 15px 8px;
}
.archive-left-sidebar .other-details span {
  margin-right: 15px;
  font-size: 12px;
}
.archive-left-sidebar .other-details span:last-of-type {
  margin-right: 0;
}
.archive-left-sidebar .short-details {
  padding: 10px 0;
}
.archive-no-sidebar .btn.btn-primary, .archive-left-sidebar .btn.btn-primary {
  padding: 6px 16px;
  margin-top: 25px;
  background: #d8262e;
  border-color: #d8262e;
}
.archive-post .btn.btn-primary:not(:disabled):not(.disabled):active, .archive-post .btn.btn-primary:active, .archive-post .btn.btn-primary:focus, .archive-post .btn.btn-primary:hover {
  background: transparent;
  color: #d8262e;
}
.archive-no-sidebar .archive-post-title a {
  margin: 13px 0 5px;
}
.archive-no-sidebar .other-details {
  padding: 6px 15px 8px;
}
.archive-no-sidebar .other-details span {
  margin-right: 15px;
  font-size: 12px;
}
.archive-no-sidebar .other-details span:last-of-type {
  margin-right: 0;
}
.archive-no-sidebar .short-details {
  padding: 15px 0;
}
.search-field {
  display: block;
  color: #979da4;
  width: 100%;
  height: 41px;
  padding: 14px 18px;
  border: 1px solid #e8e8e8;
}
.search-field:focus {
  outline: none;
}
.service-sidebar {
  margin-bottom: 35px;
}
ul.service-category {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.service-category li {
  margin-bottom: 4px;
}
ul.service-category a {
  display: block;
  padding: 10px 18px;
  background: #252525;
  color: #fff;
  text-decoration: none;
}
ul.service-category a.active, ul.service-category a.current, ul.service-category a:active, ul.service-category a:focus, ul.service-category a:hover {
  background: #d8262e;
}
.service-post-grid .service-post {
  height: 300px;
  background-size: cover !important;
  position: relative;
  margin-bottom: 32px;
}
.service-post-grid .service-post > a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}
.service-post-grid .service-post-details {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .8);
  color: #fff;
  padding: 10px 15px 12px;
}
.service-post-grid .service-post-title {
  margin: 0;
  font-weight: normal;
}
.spa-post {
  margin-bottom: 25px;
}
.service-post-alternate .service-post-details {
  padding: 15px 0;
}
.service-post-alternate .btn.btn-primary {
  background: #d8262e;
  border-color: #d8262e;
}
.service-post-alternate .btn.btn-primary:not(:disabled):not(.disabled):active, .service-post-alternate .btn.btn-primary:active, .service-post-alternate .btn.btn-primary:focus, .service-post-alternate .btn.btn-primary:hover, .service-post-alternate .btn.btn-primary:visited {
  background: transparent;
  color: #d8262e;
}
.service-post-grid-details .service-post {
  padding: 40px 38px 30px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, .1);
  position: relative;
}
.service-post-grid-details .service-post > a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.service-post-grid-details .service-post-title {
  margin: 20px 0 15px;
}
#footer {
  background: #d8262e;
  padding: 30px 0;
  color: #fff;
}
#footer * {
  margin-bottom: 0;
}
#footer .copyright {
  text-align: center;
  margin-bottom: 20px;
}
#footer .social-media-links {
  text-align: center;
}
#footer .social-media-links a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}
#footer .social-media-links a:last-of-type {
  margin-right: 0;
}
body .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container {
  margin-top: 0;
}
.fl-photo.fl-photo-crop-circle .fl-photo-caption-hover {
  top: 0;
  bottom: 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn.btn-primary {
  padding: 10px;
  font-size: 14px;
  border-color: #d8262e;
  background: #d8262e;
  display: inline-block;
}
.btn.btn-primary:not(:disabled):not(.disabled):active, .btn.btn-primary:active, .btn.btn-primary:focus, .btn.btn-primary:hover, .btn.btn-primary:visited {
  background: transparent;
  color: #fff;
  border-color: #fff;
  box-shadow: none;
}
.gform_button.button {
  padding: 10px;
  font-size: 14px;
  border-style: solid;
  border-width: 1px;
  border-color: #d8262e;
  background: #d8262e;
  display: inline-block;
  color: #fff;
  border-radius: 0.25rem;
}
#accordion {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}
#accordion .card {
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#accordion .card .card-header {
  background: #d8262e;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#accordion .card .card-header button {
  display: block;
  padding: 13px 19px;
  width: 100%;
  text-align: left;
  text-decoration: none;
  color: #fff;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#accordion .card:last-of-type .card-header {
  border-bottom: 0;
}
table.table {
  border-collapse: separate;
}
table.table th, table.table td {
  padding: 10px;
  font-size: 14px;
  border: 0;
}
table.table thead > tr > th {
  margin: 0;
}
table.table thead > tr > th, table.table tbody > tr > th {
  background: #cfd8dc;
  color: #000;
  font-weight: normal;
}
table.table tbody > tr > td {
  background: #f0f0f0;
  color: #000;
}
.nav.nav-tabs {
  border-bottom: 0;
}
.nav.nav-tabs .nav-item {
  margin-right: 2px;
}
.nav.nav-tabs .nav-item:last-of-type {
  margin-right: 0;
}
.nav.nav-tabs .nav-item .nav-link {
  border: 0;
  margin: 0;
  background: #263238;
  color: #fff;
  font-size: 14px;
}
.nav.nav-tabs .nav-item .nav-link.active {
  background: #37474f;
  color: #fff;
}
.nav.nav-tabs .nav-item .nav-link:active, .nav.nav-tabs .nav-item .nav-link:focus, .nav.nav-tabs .nav-item .nav-link:hover, .nav.nav-tabs .nav-item .nav-link:visited {
  background: #37474f;
  color: #fff;
}
.tab-content {
  padding: 20px;
  background: #eaeaea;
}
.fl-accordion .fl-accordion-item {
  border-width: 2px;
}
.fl-accordion .fl-accordion-item .fl-accordion-button {
  background: #d8262e;
  color: #fff;
}
.fl-accordion .fl-accordion-item .fl-accordion-button .fl-accordion-button-icon {
  opacity: 1;
  font-size: 12px;
}
.fl-accordion .fl-accordion-item .fl-accordion-content {
  padding-top: 25px;
}
.fl-accordion .fl-accordion-item.fl-accordion-item-active .fl-accordion-button {
  background: transparent;
  color: #000;
}
.faq-two-colors .fl-accordion .fl-accordion-item {
  border-width: 0;
}
.faq-two-colors .fl-accordion .fl-accordion-item .fl-accordion-button {
  background: #333;
  color: #fff;
  padding: 0;
}
.faq-two-colors .fl-accordion .fl-accordion-item .fl-accordion-button .fl-accordion-button-label {
  padding: 10px 15px;
}
.faq-two-colors .fl-accordion .fl-accordion-item .fl-accordion-button .fl-accordion-button-icon {
  padding: 12px 15px;
  margin-top: -4px;
  background: #d8262e;
}
.faq-two-colors .fl-accordion .fl-accordion-item.fl-accordion-item-active .fl-accordion-button {
  background: #d8262e;
}
.faq-two-colors .fl-accordion .fl-accordion-item.fl-accordion-item-active .fl-accordion-button-icon {
  padding: 12px 15px;
  margin-top: -4px;
  background: #252b3f;
  color: #d8262e;
}
.webp-pagination span, .webp-pagination a {
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 11px;
  margin: 0 2px;
}
.webp-pagination span {
  margin: 0 4px;
}
.webp-pagination a.prev, .webp-pagination a.next {
  padding: 10px 18px;
}
.webp-pagination a.prev, .webp-pagination a.next, .webp-pagination span {
  background: #d8262e;
  color: #fff;
}
.webp-pagination a {
  background: #c2c2c2;
  color: #4c4c4c;
}
img {
  max-width: 100%;
  height: auto;
}
img.alignleft {
  float: left;
  margin: 0.5em 1em 0.5em 0px;
}
img.alignright {
  float: right;
  margin: 0.5em 0px 0.5em 1em;
}
img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
  font-family: "Open Sans";
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}
@font-face {
  font-family: "Lato";
  src: url('../fonts/Lato/Lato-Regular.ttf');
}
@font-face {
  font-family: "LatoBold";
  src: url('../fonts/Lato/Lato-Bold.ttf');
}
@font-face {
  font-family: "LatoBlack";
  src: url('../fonts/Lato/Lato-Black.ttf');
}
/* Gravity forms */
.gform_wrapper div.validation_error {
  margin-bottom: 0 !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
}
.gform_wrapper ul.gform_fields li.gfield.gfield_error {
  background-color: transparent;
  margin: 0 !important;
  border-top: 0;
  border-bottom: 0;
  padding-bottom: 6px;
  padding-top: 8px;
}
.gform_wrapper ul.gform_fields li.gfield.gfield_error .gfield_description.validation_message {
  padding-top: 0;
}
